<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="'Hello, ' + ${title} + '!'"/>

<br>
<p>All movies</p>
<table>
    <thead>
    <tr>
        <td>Title</td>
        <td>Genre</td>
        <td>Date release</td>
        <td>Description</td>
    </tr>
    </thead>
<tbody>

<tr th:each="movie : ${movies}">
    <td th:text="${movie.title}">Die Hard</td>
    <td th:text="${movie.genre}">Action</td>
    <td th:text="${movie.releaseDate}">2020-7-4</td>
    <td th:text="${movie.description}">ABC</td>

</tr>
</tbody>
</table>
<br>
<a href="#" th:href="@{/}">Home page</a>

</body>
</html>